<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- SEO -->
<title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}" />{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
<meta name="robots" content="index, follow" />
<meta name="referrer" content="always" />

<!-- Social & Open Graph -->
<meta property="og:title" content="{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />
{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Site.BaseURL }}" />
{{ with .Site.Params.shareImage }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta name="twitter:card" content="summary_large_image" />
{{ end }}
{{ with .Site.Params.twitterHandle }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}

<!-- Favicon -->
{{ with .Site.Params.favicon }}
<link rel="apple-touch-icon" sizes="57x57" href="{{ "images/icons/apple-icon-57x57.png" | relURL }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "images/icons/apple-icon-60x60.png" | relURL }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "images/icons/apple-icon-72x72.png" | relURL }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "images/icons/apple-icon-76x76.png" | relURL }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "images/icons/apple-icon-114x114.png" | relURL }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "images/icons/apple-icon-120x120.png" | relURL }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "images/icons/apple-icon-144x144.png" | relURL }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "images/icons/apple-icon-152x152.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/icons/apple-icon-180x180.png" | relURL }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "images/icons/android-icon-192x192.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/icons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "images/icons/favicon-96x96.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/icons/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#848d96">
<meta name="msapplication-TileImage" content="{{ "images/icons/ms-icon-144x144.png" | relURL }}">
<meta name="theme-color" content="#848d96">
{{ end }}

<!-- Styles -->
<link rel="stylesheet" href="{{ "assets/css/split.css" | relURL }}" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Image Styles -->
{{ if .Site.Params.visual.image.enable }}
  <style type="text/css">
  {{ if .Site.Params.visual.image.file }}
    .fs-split .split-image { background-image: url("{{ .Site.Params.visual.image.file | absURL }}"); background-position: {{ if .Site.Params.visual.image.position }}{{ .Site.Params.visual.image.position }}{{ else }}center center{{ end }}; }
  {{ end }}
  </style>
{{ end }}

<!-- Google Analytics -->
{{ if and (.Site.GoogleAnalytics) (not (in (printf "%#v" .Site.BaseURL) "localhost")) }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}
